<html>
<head>
	<title>Add Marks</title>
</head>
<link rel="stylesheet" type="text/css" href="../.././css/addmarksnew.css">
<body>
<img src="../.././img/dahome.jpeg" style="border-radius: 48%; margin-right: 85%; margin-top: 5%">
	
	<div class="content" style="margin-top: -10%">
        <div class="info">

         	<h2>Student Result Management System</h2>
         		        </div>
      </div>
<div class="container" id="container">
		<form action="/student/addmarks/(:id)" method="post">
			<br>
			<h1>Add Marks</h1>

			<br>
            <input type="number" name="rollno" value='<%- user3.rollno %>' readonly />
			<input type="number" name="sub1" placeholder='<%- useremail.sub1 %>'/>
			<input type="number" name="sub2" placeholder='<%- useremail.sub2 %>' />
			<input type="number" name="sub3" placeholder='<%- useremail.sub3 %>' />
			<input type="number" name="sub4" placeholder='<%- useremail.sub4 %>' />
			<input type="number" name="sub5" placeholder='<%- useremail.sub5 %>' />
			<button type="submit">Add</button>

		</form>


	
</div>

<a href="adminhome">Home</a>
</body>
<script>
	
</script>
</html>