<html>
<head>
	<title>Add new Student</title>
</head>
<link rel="stylesheet" type="text/css" href="../.././css/studentprofilenew.css">
<body>
	<img src="../.././img/dahome.jpeg" style="border-radius: 48%; margin-right: 85%; margin-top: 5%">
	<div class="content">
        <div class="info">
         	<h2 style="margin-top: -10%">Student Result Management System</h2>
         	
		<button  style="margin-left: 110%; margin-top: -5%;" onclick="window.location.href='studenthome'">Home</button>
        </div>
		
      </div>
	 
<div class="container" id="container">
	
		<form action="/student/studentprofile" method="post">
			<br>
			<h1>Student Profile</h1>
			<br>
			<input type="text" name="name" placeholder="Name"  required value='<%- user.name %>'/>
			<input type="text" name="roll" placeholder="Roll No." readonly value='<%- user.rollno %>' />
			<input type="email" name="email" placeholder="Email" readonly value='<%- user.email %>'/>
			<input type="text" name="branch" placeholder="branch" readonly value='<%- user.branch %>'/>
			<input type="text" name="gender" placeholder="Gender"  value='<%- user.gender %>' />
			<input type="text" name="sem" placeholder="sem" readonly value='<%- user.sem %>'/>
			<input type="text" name="phone" placeholder="phone" value='<%- user.phone %>' />
			<button type="submit" style="margin-top: 3%" > Update Profile</button>
		</form>
</div>


</body>
<script>
	
</script>
</html>