<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
      
      td{
        padding:10px;
      }
      table{
        text-align: center;
      }
      thead, tfoot{
        font-weight:bold;
      }
      
      #div1{
        display: flex;
      }
    </style>
  </head>
  <!-- <link rel="stylesheet" type="text/css" href="login.css"> -->
<style>
  body {
    background-color: #19123B
}

h2{
    color: #fff;
}

.myDiv {
    display: flex;
    padding: 10px;
      }

.box1{

    flex:10%;
    display: flex;
}

.box2{
    display: flex;
    flex:80%;
}

.box3{
    display: flex;
    flex:10%;
    padding: 10px;
}

.card {
    border: none;
    margin-top: 20%;
    border-top: 5px solid rgb(176, 106, 252);
    background: #212042;
    color: #57557A
}

p {
    font-weight: 600;
    font-size: 15px
}

.fab {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: #2A284D;
    height: 40px;
    width: 90px
}

.fab:hover {
    cursor: pointer
}

.fa-twitter {
    color: #56ABEC
}

.fa-facebook {
    color: #1775F1
}

.fa-google {
    color: #CB5048
}

.division {
    float: none;
    position: relative;
    margin: 30px auto 20px;
    text-align: center;
    width: 100%;
    box-sizing: border-box
}

.division .line {
    border-top: 1.5px solid #57557A;
    ;
    position: absolute;
    top: 13px;
    width: 85%
}

.line.l {
    left: 52px
}

.line.r {
    right: 45px
}

.division span {
    font-weight: 600;
    font-size: 14px
}

.myform {
    padding: 0 25px 0 33px
}

.form-control {
    border: 1px solid #57557A;
    border-radius: 3px;
    background: #212042;
    margin-bottom: 20px;
    letter-spacing: 1px
}

.form-control:focus {
    border: 1px solid #57557A;
    border-radius: 3px;
    box-shadow: none;
    background: #212042;
    color: #fff;
    letter-spacing: 1px
}

.bn {
    text-decoration: underline
}

.bn:hover {
    cursor: pointer
}

.form-check-input {
    margin-top: 8px !important
}

.btn-primary {
    background: linear-gradient(135deg, rgba(176, 106, 252, 1) 39%, rgba(116, 17, 255, 1) 101%);
    border: none;
    border-radius: 50px
}

.btn-primary:focus {
    box-shadow: none;
    border: none
}

small {
    color: #F2CEFF
}

.far.fa-user {
    font-size: 13px
}

@media(min-width: 767px) {
    .bn {
        text-align: right
    }
}

@media(max-width: 767px) {
    .form-check {
        text-align: center
    }

    .bn {
        text-align: center;
        align-items: center
    }
}

@media(max-width: 450px) {
    .fab {
        width: 100%;
        height: 100%
    }

    .division .line {
        width: 50%
    }
}
</style>
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js">
<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
  <body style="color: white; background-color: #19123B">
    <form action="/student/viewmarks" method="get"></form>
    <div class="myDiv">
     <div class="box1">
         <img src="C:\Users\Arjun\Downloads\dahome.jpeg" style="border-radius: 50%" height="100px" width="100px">
     </div>
     <div class="box2">
         <h2 class="mt-5" style="margin-left: 33%">Result Management System</h2>
     </div>
     <div class="box3">
         <div class="form-group mt-3"> <button type="button" class="btn btn-block btn-primary btn-lg"><small><i class="far fa-user pr-2"></i>Home</small></button> </div>
     </div>
 </div>
 
    <div id="div1">
      <table border="1px"   align="center">
        <tr>

          <td> Institute Name : </td>
          <td> <strong>DAIICT</strong></td>
          <td> Course Name : </td>
          <td><strong> Msc IT</strong></td>
          <td> Roll No. :  </td>
          <td><strong> <%- userroll.rollno%> </strong></td>
        </tr>

        <tr>
          <td>Name : </td>
          <td><strong><%-user.name%></strong></td>
          
          <td>Gender</td>
          <td><strong><%-user.gender%></strong></td>
        </tr>
    </table>
  </div>
    <br><hr><br>

    <table align="center" border="1px">
    <thead>
      <tr >
        <td colspan="3">Course</td>
        <td rowspan="2">Type</td>
        <td rowspan="2">Full Marks</td>
        <td rowspan="2">Passing Marks</td>
        <td rowspan="2">Obtained Marks</td>
      </tr>

      <tr>
        <td>Code </td>
        <td colspan="2"> Name </td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>IT694</td>
        <td colspan="2">Computer Networks </td>
        <td>Practical</td>
        <td>100</td>
        <td> 30 </td>
        <td><%- userroll.marks1%></td>
      </tr>
      <tr>
        <td>IT629</td>
        <td colspan="2">Web Programming</td>
        <td>Practical</td>
        <td>100</td>
        <td>30</td>
        <td><%- userroll.marks2%> </td>
      </tr>
      <tr>
        <td>IT632</td>
        <td colspan="2">Software Engineering</td>
        <td>Practical</td>
        <td>100</td>
        <td> 30 </td>
        <td> <%- userroll.marks3%></td>
      </tr>
      <tr>
        <td>IT602</td>
        <td colspan="2">Object Oriented Programming </td>
        <td>Practical</td>
        <td>100</td>
        <td> 30 </td>
        <td> <%- userroll.marks4%></td>
      </tr>
      <tr>
        <td>IT628 </td>
        <td colspan="2">System Programming </td>
        <td>Practical</td>
        <td>100</td>
        <td> 30 </td>
        <td> <%- userroll.marks5%></td>
      </tr>
    

    </tbody>
    <tfoot>
      <tr>
        <td colspan="4" class="footer">Total Marks</td>
        <td>500</td>
        <td>180</td>
        <td><%- userroll.marks1+userroll.marks2+userroll.marks3+userroll.marks4+userroll.marks5%> </td>
      </tr>
      <tr>
        <td colspan="4" class="footer">Percentage</td>
        <td colspan="3"><%- (userroll.marks1+userroll.marks2+userroll.marks3+userroll.marks4+userroll.marks5)/5%></td>
      </tr>
    </tfoot>
  </table>
    <br>
<div class="myDiv">
          
          <div class="box2" align="center">
          <div class="form-group mt-3" style="margin-left: 47%"> <button type="button" class="btn btn-block btn-primary btn-lg" onclick="window.print()"><small>Download</small></button> </div>
          </div>
        </div>




</form>


  </body>
</html>
