<html>
<head>
	<title>Add Marks</title>
</head>
<link rel="stylesheet" type="text/css" href="../.././css/resultviewnew.css">
<body>
<img src="../.././img/dahome.jpeg" style="border-radius: 48%; margin-right: 85%; margin-top: 5%">
	<div class="content" style="margin-top: -10%">
        <div class="info">

         	<h3>Student Result MAnagement System</h3>
         		        </div>
      </div>
<div class="container" id="container">
		<form action="#">
			<br>
			<h1>Result</h1>

			<div id="div1">
      <div id="div1">
      <table border="1px"   align="center">
        <tr>

          <td> Institute Name : </td>
          <td> <strong>DAIICT</strong></td>
          <td> Course Name : </td>
          <td><strong> <% -user.branch %> </strong></td>
          <td> sem : </td>
          <td><strong> <% -user.sem %> </strong></td>
          <td> Roll No. :  </td>
          <td><strong> <%- user.rollno%> </strong></td>
        </tr>

        <tr>
          <td>Name : </td>
          <td><strong><%-user.name%></strong></td>
          
          <td>Gender</td>
          <td><strong><%-user.gender%></strong></td>
        </tr>
    </table>
  </div>
    <br><hr><br>

    <table align="center" border="1px">
    <thead>
      <tr >
        <td colspan="3">Course</td>
        <td rowspan="2">Type</td>
        <td rowspan="2">Full Marks</td>
        <td rowspan="2">Passing Marks</td>
        <td rowspan="2">Obtained Marks</td>
      </tr>

      <tr>
        <td>Code </td>
        <td colspan="2"> Name </td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>IT694</td>
        <td colspan="2"> <%- sub.sub1%></td>
        <td>Practical</td>
        <td>100</td>
        <td> 30 </td>
        <td><%- userroll.marks1%></td>
      </tr>
      <tr>
        <td>IT629</td>
        <td colspan="2"><%- sub.sub2%></td>
        <td>Practical</td>
        <td>100</td>
        <td>30</td>
        <td><%- userroll.marks2%> </td>
      </tr>
      <tr>
        <td>IT632</td>
        <td colspan="2"><%- sub.sub3%></td>
        <td>Practical</td>
        <td>100</td>
        <td> 30 </td>
        <td> <%- userroll.marks3%></td>
      </tr>
      <tr>
        <td>IT602</td>
        <td colspan="2"><%- sub.sub4%> </td>
        <td>Practical</td>
        <td>100</td>
        <td> 30 </td>
        <td> <%- userroll.marks4%></td>
      </tr>
      <tr>
        <td>IT628 </td>
        <td colspan="2"><%- sub.sub5%></td>
        <td>Practical</td>
        <td>100</td>
        <td> 30 </td>
        <td> <%- userroll.marks5%></td>
      </tr>
    

    </tbody>
    <tfoot>
      <tr>
        <td colspan="4" class="footer">Total Marks</td>
        <td>500</td>
        <td>180</td>
        <td><%- userroll.marks1+userroll.marks2+userroll.marks3+userroll.marks4+userroll.marks5%> </td>
      </tr>
      <tr>
        <td colspan="4" class="footer">Percentage</td>
        <td colspan="3"><%- (userroll.marks1+userroll.marks2+userroll.marks3+userroll.marks4+userroll.marks5)/5%></td>
      </tr>
    </tfoot>
  </table>
<button style="margin-top: 3%" onclick="window.print()">Download</button>
<button style="margin-top: 3%"><a style="color: white" href="studenthome"> Home</a></button>
		</form>


	
</div>

</body>
</html>